{% extends 'base.html.twig' %}

{% block title %}Mine{% endblock %}

{% block body %}
    <style>
        .mine {
            background-image: url('images/mine.jpg');
            width: 100%;
            height: 100vh;
            background-size: cover;
        }
    </style>
    <div class="mine"></div>
{% endblock %}
